* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: auto;
    border: 2px solid black;
    height: 100%;
}
/* INIZIO HEADER */
header {
    background-position: lightblue;
}

.headertop {
    background-color: #e6e6e6;
    height: 100px;
}

.headerright {
    border: 1px solid black;
    width: 50%;
    float: left;
    height: 100px;
}

.onleft {
    padding: 40px;
}

.lenguage {
    color: #3399ff;
    font-size: 25px;
    line-height: 100%;
}

.headerleft {
    border: 1px solid black;
    width: 50%;
    float: left;
    height: 100px;
}

.barright {
    float: right;
}

.bottonlogin {
    background-color: #fff;
    border: 1px solid #ff7a59;
    color: #ff7a59;
    padding: 20px;
    font-size: 15px;
    border-radius: 2px;
}

.bottonfree {
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
    color: #fff;
    padding: 20px;
    font-size: 15px;
    border-radius: 2px;
}

.headerbottom {
    background-color: #d9d9d9;
    height: 100px;
}
 /* INIZIO SECTION */
section {
    background-color: #6699ff;
    height: 120px;
}

/* INIZIO MAIN */
main {
    background-color: #ffddcc;
    height: 500px;
}
